@media screen and (max-width: 1550px) {
  .title-course {
    &__header {
      font-size: 80px;
    }

    &__description {
      font-size: 22px;
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 1460px) {
  .feedback-form {
    &__fieldspace {
      margin: 0 auto;
    }

    &__submit {
      margin: 10px auto;
    }
  }

  .block-faq {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 1300px) {
  .title-course {
    &__header {
      font-size: 60px;
    }

    &__description {
      font-size: 18px;
      max-width: 420px;
    }

    &__image {
      width: 700px;
      height: auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .title-course {
    flex-wrap: wrap;
    margin: 0 auto;

    &__block {
      margin: 60px auto 0;
    }

    &__header {
      font-size: 100px;
      margin-bottom: 0;
    }

    &__description {
      font-size: 26px;
      max-width: 545px;
      margin: 15px auto 35px;
    }

    &__image {
      margin: 0 auto;
      width: 849px;
      height: 732px;
    }

    &__button {
      margin: 0 auto;
      display: block;
      width: 170px;
    }
  }

  .tags-list {
    grid-gap: 20px;
  }

  .content {

    &__title {
      margin-bottom: 0;
    }

    &__image {
      margin: 0 auto;
      width: 50%;
      height: 50%;

      &:first-child {
        margin-bottom: 50px;
      }
    }

    &__text {
      margin: 0 auto;
    }
  }

  .content__block {
    flex-wrap: wrap-reverse;

    &:last-child {
      flex-wrap: wrap;
    }
  }

  .main__row-block {
    margin-top: 50px;
  }

  .feedback-form {
    &__submit {
      margin-top: 25px;
    }

    &__group {
      margin: 15px auto;
    }
  }
}

@media screen and(max-width: 1150px) {
  .list-advantages {
    justify-content: center;
  }
}

@media screen and (max-width: 1115px) {
  .feedback-block {
    padding: 65px 0 85px;
    height: auto;

    &__title {
      margin: 0 auto 35px;
    }
  }

  .feedback-form {
    max-width: 500px;
    margin: 30px auto;

    &__group {
      display: block;
    }
  }

  .block-faq {
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 1100px) {
  .tags-list {
    grid-gap: 0;

    &__box {
      width: 290px;
    }

    &__description {
      margin: 10px auto 0;
    }
  }
}

@media screen and (max-width: 1030px) {
  .tags-list {
    display: block;
    padding: 15px 0;
    min-height: 250px;

    &__box {
      margin: 30px auto;
      display: flex;
      align-items: center;
      width: auto;
      max-width: 545px;
    }

    &__description {
      text-align: left;
      margin-left: 15px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .adaptive_hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .title-course,
  .tags-list,
  .content,
  .author-course {
    padding: 0 20px;
  }

  .header {
    padding-right: 20px;
  }

  .tags-list {
    padding: 15px 20px;
  }

  .header__links {
    margin: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.97);
    gap: 60px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    top: 95px;
    padding-top: 100px;

    .link {
      font: 600 30px/40px 'Montserrat', sans-serif;
      color: #000000;
    }

    .js-button-join {
      display: none;
    }
  }

  .content {
    &__title {
      text-align: center;
    }
  }

  .header__button-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 60px;
  }

  .row-block {
    margin: 20px auto;
  }

  .list-advantages {
    margin: 30px auto 40px;
    padding: 0 5px;
  }
}

@media screen and (max-width: 760px) {
  .row-block {
    text-align: center;
    font: 500 36px/48px Montserrat,sans-serif;
  }

  .block-faq {
    padding: 20px 10px 60px;


    &__question {
      margin: 0 5px;
    }
  }

  .title-course__header {
    font: 600 70px/90px 'Montserrat', sans-serif;
    text-align: center;
  }
}

@media screen and (max-width: 730px) {
  .title-course {
    &__image {
      width: 100%;
      height: auto;
    }

    &__description {
      text-align: center;
    }
  }

  .content {
    &__image {
      width: 80%;
      height: 80%;
    }

    &__description {
      width: auto;
    }

    &__text {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 688px) {
  .content {
    margin-top: 20px;
  }

  .list-advantages {
    grid-gap: 10px;


    &__block {
      display: flex;
      height: auto;
      padding: 15px 15px;
      gap: 15px;
      align-items: center;

    }

    p {
      max-width: 250px;
    }
  }
}

@media screen and (max-width: 640px) {
  .overlay {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  .popup_closed{
    right: 25px;
    top: 25px;

    img {
      transform: scale(3);
    }
  }
  .popup {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    border-radius: 0;
  }

  .feedback-form {
    &__name,
    &__email,
    &__job-block,
    &__submit {
      max-width: 480px;
      width: 100%;
    }

    &__fieldspace {
      width: 100%;
    }
  }

  .select-box {
    max-width: 480px;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .header__button-block {
    margin-right: 10px;
  }

  .content {
    &__title {
      font-size: 7vw;
      margin-bottom: 0;
    }
  }
  .title-course {

    &__button {
      width: 150px;
      padding: 19px 73px;
      text-align: center;
    }

    &__header {
      font: 600 50px/70px 'Montserrat', sans-serif;
    }
  }

  .row-block {
    font: 500 32px/44px Montserrat,sans-serif;
    font-size: 6vw;
    padding: 0 5px;
  }

  .block-faq {
    &__title {
      font-size: 6vw;
    }
  }

  .faq {
    &__button {
      font-size: 20px;
    }

    &__accordion_hide {
      font-size: 16px;
    }
  }

  .footer__author-course {
    margin: 20px auto 20px;
  }

  .feedback-block {
    &__title {
      width: auto;
      max-width: 470px;
      font: 500 34px/46px 'Montserrat',sanf-serif;
      text-align: center;
    }
  }

  .checkbox-block__title {
    max-width: 350px;
  }
}

@media screen and (max-width: 420px) {
  .button_white {
    padding: 15px 5px;
    margin: 0 auto;
    display: block;
    width: 95%;
  }
}

@media screen and (max-width: 406px) {
  .title-course {

    &__header {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 370px) {
  .header {
    padding-right: 10px;

    &__button-block {
      margin-right: 0;
      transform: scale(0.8);
    }
  }

  .title-course {
    &__header {
      font: 600 34px/40px 'Montserrat', sans-serif;
    }

    &__button {
      margin: 0 auto;
      padding: 19px 60px;
    }

    &__description {
      margin: 15px 5px;
    }

    &__image {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    &__title {
      font: 500 30px/48px Montserrat,sans-serif;
    }
  }

  .feedback-block {
    &__title {
      font: 500 28px/40px 'Montserrat',sanf-serif;
    }
  }

  .feedback-form {
    &__group {
      margin: 5px 0;
    }

    &__name,
    &__email,
    &__job-block{
      width: 100%;
    }
  }
}