@font-face {
    font-family: "Crete Round";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/CreteRound-Regular.ttf");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lato/Lato-Regular.ttf");
}
body {
    background-color: #ffffff;
    width: 1920px;
    height: 1188px;
}
.header {
    position: absolute;
    width: 60px;
    height: 43px;
    left: 480px;
    top: 60px;
    font-family: Crete Round, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 43px;
    color: #060C31;
}
.first-solution {
    position: absolute;
    width: 493px;
    height: 192px;
    left: 480px;
    top: 193px;
    font-family: Crete Round, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 64px;
    color: #060C31;
}
.using-lorem {
    position: absolute;
    width: 493px;
    height: 84px;
    left: 480px;
    top: 421px;
    letter-spacing: 0.75px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #060C31;
}
.two-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    left: 480px;
    top: 553px;
    width: 332px;
}
.first-button {
    width: 156px;
    height: 50px;
    background-color:#233fe2;
    border-radius: 50px;
    font-size: 15px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.4px;
}
.first-button:hover {
    background-color:#2359e2;
}
.first-button:active,
.first-button:focus{
    outline-style: none;
    background-color:#2359e2;
    box-shadow: 0 0 3px 2px #060C31;
}
.second-button {
    width: 156px;
    height: 50px;
    background-color:#ffffff;
    border-radius: 50px;
    border: 1px solid #ffb0b1;
    font-size: 15px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #060C31;
}
.second-button:hover {
    background-color: #cdced6;
    border: 1px solid #fc5658;
}
.second-button:active,
.second-button:focus{
    outline-style: none;
    background-color: #CDCED6;
    border: 1px solid #fc5658;
    box-shadow: 0 0 3px 2px #f38c8e;
}
img {
    position: absolute;
    left: 451px;
    top: 631px;
}

