@font-face {
    font-family: "Crete Round";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/CreteRound-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

body {
    background-color: #ffffff;
    width: 1920px;
    height: 1188px;
    margin: 0;
}

.header {
    display: block;
    width: 60px;
    height: 43px;
    margin: 60px 0 0 480px;
    font: normal normal 34px/43px "Crete Round", sans-serif;
    color: #060C31;
}

.description {
    display: block;
    margin: 90px 0 0 480px;
    width: 493px;
    height: 192px;
    font: normal normal 58px/64px "Crete Round", sans-serif;
    color: #060C31;
}

.main_text {
    display: block;
    width: 493px;
    height: 84px;
    margin: 36px 0 0 480px;
    letter-spacing: 0.75px;
    font: normal normal 15px/28px "Lato", sans-serif;
    color: #060C31;
}

.two_links {
    margin: 48px 0 0 480px;
    height: 50px;
    width: 332px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first_link {
    width: 156px;
    height: 50px;
    background-color: #233fe2;
    border-radius: 50px;
    font: bold 15px/50px "Lato", sans-serif;
    color: #ffffff;
    letter-spacing: 0.4px;
    text-align: center;
}

.first_link:hover {
    background-color: #2359e2;
}

.second_link {
    width: 156px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid #ffb0b1;
    font: bold 15px/50px "Lato", sans-serif;
    color: #060C31;
    text-align: center;
}

.second_link:hover {
    background-color: #eae9e9;
    border: 1px solid #f56567;
}

.image_bottom {
    margin: 28px 0 0 451px;
}
